<!DOCTYPE html>
<html lang="en_us">
  <head>
    <title>On About Code</title>
    <link href="/css/content.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="font-sans bg-grey-lighter p-8">
      {{ partial "header.html" . }}

      <div class="bg-white rounded mt-4 border-b-2 border-grey-light p-4">
        {{ range first 10 .Data.Pages }}
          <div>
            <a href="{{ .Permalink }}" class="no-underline">
              <div class="font-bold text-blue">{{ .Title }}</div>
              <div class="text-grey-darkest">{{ .Description }}</div>
            </a>
          </div>
        {{ end }}
      </div>

      {{ partial "footer.html" . }}
  </body>
</html>
