<!DOCTYPE html>
<html lang="en_us">
  <head>
    <title>On About Code</title>
    <link href="/css/content.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="font-sans bg-grey-light p-8">
      {{ partial "header.html" . }}

      <div class="bg-white rounded mt-4 border-b-2 border-grey-light p-4">
        {{ range first 10 .Data.Pages }}
          <div class="mb-6">
            <a href="{{ .Permalink }}" class="no-underline">
              <div>
                <span class="font-bold text-blue">{{ .Title }}</span>
                &mdash;
                <span class="text-grey-darker">{{ dateFormat "Jan 2, 2006" .Date }}</span>
              </div>

              <div class="text-black">{{ .Description }}</div>
            </a>
          </div>
        {{ end }}
      </div>

      {{ partial "footer.html" . }}
  </body>
</html>
