.content p {
    margin-bottom: 1.6rem;
    line-height: 1.5rem;
}

.content blockquote {
    border-left: 3px solid #dfdfdf;
    padding-left: 1rem;
    color: #606060;
}

.content img {
    border: 1px solid #dfdfdf;
}

.content pre {
    padding: 0.5rem;
    font-size: 0.9rem;
    background: #dfdfdf;
    margin-bottom: 1.5rem;
    overflow-x: auto;
}

.content pre code {
    color: black;
}

.content code {
    font-size: 0.9rem;
    background: #dfdfdf;
    color: #a53c10;
}